.paid-chronicles ul li {
  list-style: none;
}

.paid-chronicles ul {
  padding: 0%;
}

.paid-chronicles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chronicles-card {
  width: 50rem;
}
