
.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .walletActions {
    margin-top: 3%;
  }
  
  .inputAmount {
    width: 575px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
  }
  
  .logo {
    margin-top: 2%;
  }
  
  .contractInfo {
    margin-top: 2%;
    width: 52%;
  }
  
  #pointer {
    text-decoration: none;
    color: blue;
    cursor: pointer;
  }
  
  .clipboard {
    width: 2%;
  }
  
  .navbar {
    border-bottom: solid 1px #ebebeb;
  }
  .bottom-tab-nav {
    border-top: solid 1px #ebebeb;
  }
  .nav-link,
  .bottom-nav-link {
    color: #55575b;
  }
  .bottom-nav-link.active {
    color: #922c88;
  }
  .bottom-tab-label {
    font-size: 12px;
  }
  
  .bottomBar {
    margin-top: 2%;
  }
  
  .accountBalance {
    margin-top: 3%;
  }
  