.chronicles-group {
  width: 100%;
}

.ongoing-group,
.pasthistory-group {
  width: 50%;
}

.chronicles-group {
  margin: 8%;
  display: flex;
  flex-direction: row;
}

.chronicles-title {
  text-align: center;
  font-size: 5rem;
  padding-top: 4%;
}

.chronicles-info {
  text-align: center;
}
