.tier-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  padding: 0% !important;
  height: auto !important;
}

.tiers {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 20rem;
}

.tier-group p {
  color: #6b7774 !important;
}

.nowrap {
  white-space: normal;
  padding: 1% 2% 0 2% !important;
}

.tier-group h3 {
  font-size: 1.5rem;
}

.tiers li {
  list-style: none;
  font-size: 1rem;
}
