.cobalt-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  width: 80%;
  min-height: 400px;
  background: #fff;
  margin: 0 auto;
  margin-top: 10%;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: 0.5s;
}
.cobalt-card:hover {
  box-shadow: 0 30px 70px rgba(0, 0, 0, 0.2);
}
.cobalt-card .box {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
}
.cobalt-card .box .img {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}
.cobalt-card .box .img img {
  width: 100%;
  height: 100%;
}
.cobalt-card .box .img video {
  width: 50%;
  height: 50%;
}
.cobalt-card .box h2 {
  font-size: 20px;
  color: #262626;
  margin: 20px auto;
}
.cobalt-card .box h3 {
  font-size: 3rem;
  color: #262626;
  margin: 20px auto;
}
.cobalt-card .box h2 span {
  font-size: 14px;
  background: #e91e63;
  color: #fff;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 15px;
}
.cobalt-card .box p {
  color: #262626;
}

.logo-video {
  width: 60%;
  border-radius: 50%;
}
.treasury-logo-video {
  width: 30%;
  border-radius: 50%;
}

.treasury-info {
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
}

.spacearound {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4%;
}

.main-dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 2% auto;
}

.middle-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-dashboard,
.right-dashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.left-dashboard .btn,
.right-dashboard .btn,
.middle-dashboard .btn {
  margin: 4%;
}

.dashboard-title {
  text-align: center;
  font-size: 4rem;
}

.dashboard-main {
  margin: 4%;
  height: 80vh;
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  flex-wrap: nowrap !important;
}
