.swapwrapper {
    display: flex;
    justify-content: center;
}

.swapcard {
    background: white;
    border-radius: 12px;
    height: auto;
    width: 500px;
    padding: 2% 1%;
}

.cardtitle {
    display: flex;
    justify-content: space-between;
}

.swapfrom, .swapto {
    display: flex;
    align-items: center;
    border: 2px solid whitesmoke;
    border-radius: 12px;
    padding: 4%;
}

.form-input {
  display: block;
  width: 100%;
  line-height: 25px;
  font-size: 20px;
  font-weight: 500;
  font-family: inherit;
  border: none;
  -webkit-appearance: none;
  color: var(--input-color);
  transition: border 0.3s ease;
}

.balance {
    font-size: 16px;
}

.balancediv {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px !important;
}

/* Modal  */
.modal-content {
    border-radius: 20px !important;
    width: 60% !important;
    margin: 0 auto;
}

.modalinput {
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 12px;
    font-size: 20px;
    width: 150%;
}

.modalinput:focus, .modalinput:hover {
    border: 2px solid #80D0C7;
    outline: none;
}

.modalbtngroup {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.divbtngroup {
    display: flex;
    justify-content: space-between;
}
.btngroup {
    background: transparent;
    border: none;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.divbtngroup:hover {
    background: rgb(188, 236, 231, 0.2);
}

/* Modal End  */

.downarrow {
    display: block;
    padding-top: 4%;
    padding-bottom: 4%;
    margin: 0 auto;;
}

.swaptobtn {
    display: block;
    align-items: center;
    height: 2.2rem;
    font-size: 20px;
    background-color: rgb(255, 0, 122);
    color: rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 8%) 0px 6px 10px;
    outline: none;
    cursor: pointer;
    user-select: none;
    border: none;
    width: max-content;
}

.swapconfirmbtn {
    display: block;
    background-color: rgb(237, 238, 242);
    color: rgb(136, 141, 155);
    cursor: auto;
    box-shadow: none;
    border: 1px solid transparent;
    border-radius: 12px;
    outline: none;
    padding: 2% 28%;
    opacity: 1;
    margin: 0 auto;
    font-size: 24px;
    text-align: center;

}

.tokenbtn {
    display: flex;
    font-size: 1.5rem;
    background: whitesmoke;
    border-radius: 12px;
    align-items: center;
    border: none;
}
